<div class="guide-modal">
<ion-header>

  <ion-navbar>
    <h4 class="title-bar">Colors</h4>
  </ion-navbar>

</ion-header>

<ion-content class="grid-full">
  <div>
    <ion-row>
      <ion-col col-4 col-sm>
        <ion-fab>
            <button ion-fab color="color0" (click)="onChooseColor(0)"><ion-icon *ngIf="vSign[0]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
        </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
        <ion-fab>
            <button ion-fab color="color1" (click)="onChooseColor(1)"><ion-icon *ngIf="vSign[1]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
        </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
          <ion-fab>
              <button ion-fab color="color2" (click)="onChooseColor(2)"><ion-icon *ngIf="vSign[2]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
          </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
        <ion-fab>
            <button ion-fab color="color3" (click)="onChooseColor(3)"><ion-icon *ngIf="vSign[3]==1" ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
        </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
        <ion-fab>
            <button ion-fab color="color4" (click)="onChooseColor(4)"><ion-icon *ngIf="vSign[4]==1" ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
        </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
          <ion-fab>
              <button ion-fab color="color5" (click)="onChooseColor(5)"><ion-icon *ngIf="vSign[5]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
          </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
        <ion-fab>
            <button ion-fab color="color6" (click)="onChooseColor(6)"><ion-icon *ngIf="vSign[6]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
        </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
        <ion-fab>
            <button ion-fab color="color7" (click)="onChooseColor(7)"><ion-icon *ngIf="vSign[7]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
        </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
          <ion-fab>
              <button ion-fab color="color8" (click)="onChooseColor(8)"><ion-icon *ngIf="vSign[8]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
          </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
        <ion-fab>
            <button ion-fab color="color9" (click)="onChooseColor(9)"><ion-icon *ngIf="vSign[9]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
        </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
        <ion-fab>
            <button ion-fab color="color10" (click)="onChooseColor(10)"><ion-icon *ngIf="vSign[10]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
        </ion-fab>
      </ion-col>
      <ion-col col-4 col-sm>
          <ion-fab>
              <button ion-fab color="color11" (click)="onChooseColor(11)"><ion-icon *ngIf="vSign[11]==1"  ios="ios-checkmark" md="md-checkmark" style="font-size: 50px;"></ion-icon></button>
          </ion-fab>
      </ion-col>
    </ion-row>
    
  </div>
</ion-content>
<ion-row>
    <ion-col col-6 col-sm class="cancel-btn">
    <button ion-button full color="light" class="button-confirm">Cancle</button>
    </ion-col>
    <ion-col col-6 col-sm  class="ok-btn" color="light">
    <button ion-button full color="light" class="button-confirm">OK</button>
    </ion-col>
    </ion-row>
</div>
