page-color-picker {
    ::-webkit-scrollbar{
    display:none;
    }
    background-color: rgba(0,0,0,0.5);
    h4 {
        text-align: center;
    }
    .guide-modal {
        position: absolute;
        top: 80px;
        left: 70px;
        display: block;
        width: 250px;
        height: 372px;
        overflow: hidden;
        }
    ion-content {
        .row-okCancel {
           ion-col {
               padding-bottom: 0;
               padding-left: 0;
               padding-right: 0;
               padding-top: 10px;
                .btn-okCancel {
                    font-weight: bold;
                    border: 0.1px groove;
                    width: 100%;
                    height: 100%;
                } 
            }
        }
        .row-colors {
            ion-col {
                padding-left: 10px;
            }
        }
        ion-row {
           height : 20%; 
        }
    }
}