page-color-picker {
    ::-webkit-scrollbar{
    display:none;
    }
    background-color: rgba(0,0,0,0.5);
    ion-card-content {
            padding: 0px !important;
            height: 60% !important;
            position: absolute;
            top: 20%;
            left: 18%;
            display: block;
            width: 65%;
            height: 60%;
            overflow: hidden;
            ion-content {
                height: 100%;
                width: 100%;
                .colors-row {
                    height: 21%;
                    ion-col{
                        ion-fab{
                            left : 15%;
                            top: 15%;
                        }
                    }
                }
            }
        }
        .button-row {
            ion-col{
                padding: 0!important;
                button{
                    border:0.1rem gray solid;
                    margin : 0px!important;
                }
            }
        }
}