<div>
    <canvas [id]="chartDetails.$key" baseChart width="600" height="315"
            [data]="chartDetails.chartData"
            [labels]="chartDetails.chartLabels"
            [options]="{
                        legend : {
                          labels:{boxWidth:10}
                        },
                        tooltips: {
                          enabled : false
                        },
                        animation: {
                              duration: 200
                          },
                        title: {
                          text : chartDetails.chartTitle,
                          display: true,
                          fontSize: 18,
                          fontFamily: 'Pacifico',
                          fontColor : this.chartDetails?.titleColor
                        },
                        scales: startFromZero,
                        chartArea: {
                            backgroundColor: '#ffffff'
                        }
                      }"
            [colors]="colors"
            [legend]="!(this.chartDetails?.chartType=='bar')"
            [chartType]="chartDetails.chartType"
            (chartClick)="chartClicked($event)"
            ></canvas>
  </div>
  <div id="buttons-center" text-center>
    <button ion-button *ngIf="chartDetails.chartLabels.length>=1"  [disabled]="isvote" [style.background]="this.chartDetails.chartColor[0]" (click)="vote(0)">{{chartDetails.chartLabels[0]}}</button>
    <button ion-button *ngIf="chartDetails.chartLabels.length>=2"  [disabled]="isvote" [style.background]="this.chartDetails.chartColor[1]" (click)="vote(1)">{{chartDetails.chartLabels[1]}}</button>
    <button ion-button *ngIf="chartDetails.chartLabels.length>=3"  [disabled]="isvote" [style.background]="this.chartDetails.chartColor[2]" (click)="vote(2)">{{chartDetails.chartLabels[2]}}</button>
    <button ion-button *ngIf="chartDetails.chartLabels.length>=4"  [disabled]="isvote" [style.background]="this.chartDetails.chartColor[3]" (click)="vote(3)">{{chartDetails.chartLabels[3]}}</button>
  </div>
  <div padding>
      <ion-chip>
          <ion-icon name="contacts" style="margin : 0;"></ion-icon>
          <ion-label>{{votesCount}} voters</ion-label>
      </ion-chip>
  </div>
