chart-component {
    div {
        .button-ios { 
            height: auto;
            padding: 10px;
        }
    }
    .label-voters {
        padding-right: 8px;
        padding-left: 5px;
    }
}
