
<div style="display: block">
    <canvas baseChart width="600" height="315"
            [data]="chartDetails.chartData"
            [labels]="chartDetails.chartLabels"
            [options]="{
                        animation: {
                              duration: 500
                          },
                        title: {
                          text : chartDetails.chartTitle,
                          display: true,
                          fontSize: 18,
                          fontFamily: 'Pacifico'
                        },
                        scales: startFromZero
                      }"
            [colors]="Colors"
            [legend]="ChartLegend"
            [chartType]="chartDetails.chartType"
            ></canvas>
  </div>
  <div id="buttons-center" text-center>
    <button ion-button *ngIf="chartDetails.chartLabels.length>=1"  [disabled]="isvote" [style.background]="Colors[0].backgroundColor[0]" (click)="vote(0)">{{chartDetails.chartLabels[0]}}</button>
    <button ion-button *ngIf="chartDetails.chartLabels.length>=2"  [disabled]="isvote" [style.background]="Colors[0].backgroundColor[1]" (click)="vote(1)">{{chartDetails.chartLabels[1]}}</button>
    <button ion-button *ngIf="chartDetails.chartLabels.length>=3"  [disabled]="isvote" [style.background]="Colors[0].backgroundColor[2]" (click)="vote(2)">{{chartDetails.chartLabels[2]}}</button>
    <button ion-button *ngIf="chartDetails.chartLabels.length>=4"  [disabled]="isvote" [style.background]="Colors[0].backgroundColor[3]" (click)="vote(3)">{{chartDetails.chartLabels[3]}}</button>
  </div>
  <div padding>
      <ion-chip>
          <ion-icon name="contacts"></ion-icon>
          <ion-label>{{votesCount}} voters</ion-label>
      </ion-chip>
  </div>
