<ion-card  >
        <chart-component [chartDetails]="chartDetails" [owner]="owner" [justShow]="justShow"></chart-component>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-left clear small (click)="onShare()">
              <ion-icon name="share-alt"></ion-icon>
              <div>Share to Facebook</div>
            </button>
          </ion-col>
          <ion-col col-4>
            
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-left clear small (click)="onDelete()">
              <ion-icon name="trash"></ion-icon>
              <div>Delete</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
