chart-card {
    .card  {
        border-radius : 5px;
        margin-bottom: 0!important;
    }
    .label-voters {
        padding-right: 8px;
        padding-left: 5px;
    }
    .text-icon {
        padding-top : 5px!important;
    }
}
