<ion-header>
  <ion-navbar color="primary"  style="height: 70px;">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center >
      All Charts
    </ion-title>
    <ion-buttons right>
      <ion-item style="background-color: transparent;">
        <ion-avatar>
          <img src="{{this.afAuth.auth.currentUser?.photoURL}}">
        </ion-avatar>
      </ion-item>
  </ion-buttons>
  </ion-navbar>
  <ion-list style="margin : 0!important;">
    <ion-item>
      <ion-label style="font-weight : bold;">Sort By :</ion-label>
      <ion-select [(ngModel)]="sortBy" placeholder="Newest" (ionChange)="onChange($event)">
      <ion-option value="createdAt">Newest</ion-option>
      <ion-option value="voteCount">Most Voted</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content class="color-content">
  <div *ngIf="sortBy === 'createdAt'">
    <ion-list>
      <ion-item class="color-content item-chart" no-lines *ngFor="let chart of allChartsByNewest; trackBy : trackByCreatedAt;">
        <chart-card [chartDetails]="chart" [owner]="chart.owner"></chart-card>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="sortBy === 'voteCount'">
    <ion-list>
      <ion-item class="color-content item-chart" no-lines *ngFor="let chart of allChartsByMostVoted; trackBy : trackByCreatedAt;">
        <chart-card [chartDetails]="chart" [owner]="chart.owner"></chart-card>
      </ion-item>
    </ion-list>
  </div>
    
</ion-content>
