page-home {
    .center-page {
        left: 0;
        line-height: 200px;
        margin: auto;
        margin-top: -180px;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align : center;
        opacity: 0.38;
        font-size: 130%;
        font-style: italic;
    }
    .margin-card {
        padding-left: 2%;
        padding-right: 2%;
    }
}
