// http://ionicframework.com/docs/v2/theming/
ion-navbar {
    height: 50px;
}
.color-content {
    background : #E9EBEE;
}
ion-icon {
    margin-top: 2px
}
.item-chart {
        padding-left : 0px!important;
        .input-wrapper{
            ion-label {
                margin : 0px!important;
            }
        }
        .item-inner {
        padding-right: 0px!important;
        }
           
    }
    .list {
        margin-bottom : 15px!important;
    }
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: openSans;
    src: url('../assets/fonts/openSans.woff2');
}
*{
    font-family: openSans;
}